<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80581549431-uds7kd5q91fesca4ks9q3tscksgbfk33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80581549431-uds7kd5q91fesca4ks9q3tscksgbfk33</string>
	<key>API_KEY</key>
	<string>AIzaSyAYqUckSu8E3jchhOXKUr8RNI1pAKYPhqM</string>
	<key>GCM_SENDER_ID</key>
	<string>80581549431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingsleyenoka.fireinsta</string>
	<key>PROJECT_ID</key>
	<string>firegramkingsley</string>
	<key>STORAGE_BUCKET</key>
	<string>firegramkingsley.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80581549431:ios:e5708f4c0a9da0cccf5572</string>
	<key>DATABASE_URL</key>
	<string>https://firegramkingsley.firebaseio.com</string>
</dict>
</plist>