<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539987507665-gcm1gh2mk8u7spb79749be7enmghddtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539987507665-gcm1gh2mk8u7spb79749be7enmghddtj</string>
	<key>API_KEY</key>
	<string>AIzaSyB-SbYouUXRxeGgsqAotNaN9g3r72i6MUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>539987507665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingsleyenoka.firegram</string>
	<key>PROJECT_ID</key>
	<string>kingsleyfiregram</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsleyfiregram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539987507665:ios:97adfc456774c86f5488f0</string>
	<key>DATABASE_URL</key>
	<string>https://kingsleyfiregram.firebaseio.com</string>
</dict>
</plist>